<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>MadLips</title>
    </head>
    <body>
        <h1>Mad Lips</h1>
        <h3>Enter your responses and get a Mad Lip</h3>
        <form method="POST" action="/response">
            <label for="place">Place:</label>
            <input name="place" type="text"><br>
            <label for="noun">Noun:</label>
            <input name="noun" type="text"><br>
            <label for="verb">Verb:</label>
            <input name="verb" type="text"><br>
            <label for="adjective">Adjectives:</label>
            <input name="adjective" type="text"><br>
            <label for="plural_noun">Plural Noun:</label>
            <input name="plural_noun" type="input"><br>
            <input type="submit">
        </form>
    </body>
</html>